build/
dist/
modules/*/typed
**/*.min.js
node_modules/
coverage/
.reify-cache/

tsconfig.tsbuildinfo

dist-demo/
dist-bundle.js

TODO

yarn-error.log
package-lock.json

.vscode/
.project
.idea
.DS_Store
*.zip
*.rar
*.log
.exit_code
env/

*.swo
*.*.swp
*.*.swo
*.swp
ignore__*
